In [1]:
# import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/titanic_db.sqlite', echo=False)

In [2]:
#Read in the cleaned train data that we intend to use to make the database table
path = "Resources/cleaned_train.csv"
train_df = pd.read_csv(path)
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

In [3]:
#Create a database table named train_data in titanic_db.sqlite using the pandas dataframe above.
train_df.to_sql('train_data', con=engine, index=True, index_label="id")